<h2 class='place-title'>San Diego</h2>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <img src="images/sandiego-1.jpg" style="width:100%">
            </div>
                
            <div class="mySlides fade">
                <img src="images/san-diego-surfer.jpg" style="width:100%">
            </div>
                
            <div class="mySlides fade">
                <img src="images/sandiego-waterfront.jpg" style="width:100%">
            </div>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
        <div class='form-group basic-info'>
            <ul>
                <li><span class='detail-title'>Location:</span> California</li>
                <li><span class='detail-title'>Population:</span> 1.407 million</li>
                <li><span class='detail-title'>Stats:</span></li>
                <ul>
                    <li>8th largest city in the United States</li>
                    <li> 2nd largest city in California</li>
                </ul>
                <li><span class='detail-title'>Description:</span> Located on the coast of the Pacific Ocean in Southern California, approximately 120 miles south of Los Angeles and immediately adjacent to the border with Mexico. The city is known for its milk year-round climate, natural deep-water harbor, extensive beaches, long association with the U.S. Navy, and recent emergence as a healthcare and biotech development center.</li>
            </ul>
        </div>
        <div class='musts'>
            <div class='form-group food-info'>
                <h5 class='detail-title'>Must Eats:</h5>
                <ul>
                    <li>Tocos El Gordo</li>
                    <li>Cody's La Jolla</li>
                    <li>Breakfast Republic</li>
                    <li>Manna BBQ</li>
                    <li>Grandma's Tofu House</li>
                    <li>Somi Somi</li>
                    <li>Poki One N Half</li>
                    <li>Hodad's</li>
                </ul>
            </div>
            <div class='form-group places-info'>
                <h5 class='detail-title'>Must Visits:</h5>
                <ul>
                    <li>Coranado</li>
                    <li>Torrey Pines State Nature Reserve</li>
                    <li>Balboa Park</li>
                    <li>La Jolla Cove</li>
                    <li>Torrey Pines Gliderport</li>
                    <li>San Deigo Zoo</li>
                    <li>Mission Beach</li>
                    <li>Pacific Beach</li>
                </ul>
            </div>
        </div>